@model IEnumerable<DuoChip.Models.Product>

@if (Model != null)
{
    var count = Model.Count();
    if (count == 0)
    {
        if (ViewBag.Page == 1)
        {
            <h2>Ничего не найдено</h2>
        }
        else
        {
            <h2>Страница пуста</h2>
            @Html.ActionLink("Назад", "Search", new { page = (ViewBag.LastPage).ToString(), text = ViewBag.Text })
        }
    }
    else
    {
    <table class="itemlist itemlist_main" id="itemlist">
    @foreach (var x in Model)
    {
        @Html.Partial("ProductView", x);
    } 
    </table>
        if (ViewBag.Page != 1)
        {
            @Html.ActionLink("Назад", "Search", new { page = (ViewBag.Page - 1).ToString(), text = ViewBag.Text })
            @Html.Raw("&nbsp;")
        }
            @Html.ActionLink("Вперед", "Search", new { page = (ViewBag.Page+1).ToString(), text = ViewBag.Text })
    }
}