@model DuoChip.Models.Product
       
            <div class="elem col-md-3">
                <div class="shadow">
                    <img src="@Model.PictureLink" height="250" width="250">
                    <a class="link" href="@Model.ProductLink">@Html.Raw(Model.Name)</a>
                   @*<p class="itemlist_pval">
                     @foreach (var x in Model.Characteristics)
                    {
                        <span>@x.Key: <span>@x.Value</span></span>
                    }
                       </p>*@
                    <p class="price"><b>@PrintCost(Model.Cost)</b></p>
                    <p class="avail">@PrintDeliver(Model.DaysToDeliver)</p>                   
                </div>
            </div>

        




@helper PrintCost(decimal? cost) {
if (cost == null)
{
        <span class="price_mr">Цена по запросу</span>
}
else
{
        <span class="price_mr">@cost BYN</span>
}
}


@helper PrintDeliver(string days)
{
if (days == null)
{
        <span class="item__avail_order">По запросу</span>
}
else if (days == "")
{
        <span class="item__avail_available">На складе</span>
}
else
{
        <span class="item__avail_awaiting">@days</span>
    }


}